<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Trang chính</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phòng tiêm</li>
  </ol>
</nav>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Phòng tiêm</h1>
</div>
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4" *ngFor="let item of listRoom">
    <div class="card border-left-light shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              {{item.name}} {{item.code}}</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Khách hàng: {{item.listCustomerRoom.length}}
            </div>
          </div>
          <div class="col-auto">
            <a href="/phongtiemdetails/{{item.roomId}}" style="color: Dodgerblue;"><i
                class="fas fa-hand-holding fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
