<form asp-action="CapNhatDuLieuThe" method="get" asp-controller="Node">
    <div class="form-group">
        <label for="inputFileEdit">Đưỡng dẫn đến files cần thực hiện</label>
        <input type="text" class="form-control" name="inputFileEdit">
    </div>
    <div class="form-group">
        <label for="inputFileMaster">Chọn file chứa tham số gốc</label>
        <input type="text" class="form-control" name="inputFileMaster">
    </div>
    <button type="submit" class="btn btn-primary">Tiếp tục</button>
</form>