<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Trang chính</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{categories.name}}</li>
  </ol>
</nav>
<div class="title">
  <h1 class="tieude">
    {{categories.name}}
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="gt-info">
      <div [innerHTML]="categories.details"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3" *ngFor="let product of productDetails">
    <div class="card" style="margin-bottom: 10px;">
      <a class="card-text text-decoration-none" href="/product/{{product.productDetailsProduct.productId}}">
        <div class="card-image">
          <img class="card-img-top" src="{{product.productDetailsProduct.images}}"
            alt="{{product.productDetailsProduct.name}}">
          <div class="image-overlay"></div>
        </div>
        <div class="card-body">
          {{product.productDetailsProduct.name}}
        </div>
      </a>
    </div>
  </div>
</div>
