<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản!</h1>
          </div>
          <form class="user" #myForm="ngForm"
            (ngSubmit)="repassword.value == password.value && myForm.form.valid && Register(fullName.value, telephone.value, email.value, password.value, repassword.value)"
            novalidate>
            <div class="form-group">
              <input type="text" class="form-control form-control-user" name="fullName" #fullName="ngModel" ngModel
                placeholder="Họ tên" minlength="5" maxlength="30" required>
              <div class="alert alert-danger" *ngIf="fullName.invalid && myForm.submitted">
                Vui lòng không để trống và hơn 5 ký tự
              </div>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Ví dụ: 09312345678" class="form-control form-control-user"
                name="telephone" #telephone="ngModel" placeholder="Số điện thoại" minlength="5" maxlength="15" ngModel
                required pattern="\d*">
              <div class="alert alert-danger" *ngIf="telephone.invalid && myForm.submitted">
                Vui lòng không để trống và hơn 5 ký tự
              </div>
              <div class="alert alert-danger" *ngIf="existTelephone">
                Số điện thoại đã được sử dụng
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-user" name="email" placeholder="Địa chỉ email"
                #email="ngModel" ngModel required>
              <div class="alert alert-danger" *ngIf="email.invalid && myForm.submitted">
                Vui lòng không để trống hoặc không hợp lệ
              </div>
              <div class="alert alert-danger" *ngIf="existEmail">
                Email đã được sử dụng
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-user" name="password" placeholder="Mật khẩu"
                  #password="ngModel" ngModel maxlength="20" required>
              </div>
              <div class="col-sm-6">
                <input type="password" class="form-control form-control-user" name="repassword"
                  placeholder="Nhập lại mật khẩu" #repassword="ngModel" maxlength="20" ngModel required>
              </div>
            </div>
            <div class="form-group">
              <div class="alert alert-danger" *ngIf="password.invalid && myForm.submitted">
                Vui lòng không để trống hoặc không hợp lệ
              </div>
              <div class="alert alert-danger" *ngIf="repassword.invalid && myForm.submitted">
                Vui lòng không để trống hoặc không hợp lệ
              </div>
              <div class="alert alert-danger" *ngIf="repassword.touched && repassword.value != password.value">
                Nhập lại mật khẩu không chính xác
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block" [disabled]="isValid" id="register">Đăng
              ký</button>
          </form>
          <hr>
          <div class="text-center">
            <a class="small" href="/dangnhap/">Bạn đã có tài khoản? Hãy đăng nhập!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
