<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Trang chính</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phòng</li>
  </ol>
</nav>
<div class="title">
  <h1 class="tieude">
    Phòng
  </h1>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-6">
        <!-- EMPTY -->
        <!--END-->
      </div>
      <div class="col-6 text-right">
        <!-- Default checked -->
        <!--END-->
      </div>
    </div>
    <!--<h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng đã đăng ký thông tin</h6>-->
  </div>
  <div class="card-body table-hover">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTablePhong" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên phòng</th>
            <th>Phòng số</th>
            <th>Số lượng khách</th>
            <th>Trạng thái</th>
            <th colspan="2">Nghiệp vụ</th>
          </tr>
          <tr>
            <th colspan="5"></th>
            <th>Cập nhật</th>
            <th>Xóa</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="5"></th>
            <th>
              <a class="btn btn-primary themmoi" (click)="initAddEditRoom(roomId)">Thêm phòng mới</a>
            </th>
            <th>
              <a class="btn btn-secondary themmoi" (click)="resetRoom(cancelTemplate)">Không nhận khách</a>
            </th>
            <ng-template #cancelTemplate>
              <div class="modal-body alert-success text-center">
                Đã hủy đón tất cả khách hàng
              </div>
            </ng-template>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let item of listRoom ; index as i">
            <td>{{i + 1}}</td>
            <td>{{item.name}} </td>
            <td>{{item.code}}</td>
            <td>{{item.listCustomerRoom.length}}</td>
            <td>
              <ui-switch id="{{item.roomId}}" (change)="OnOff_Room(item.roomId)" [(ngModel)]="item.status">
              </ui-switch>
            </td>
            <td>
              <a class="btn btn-info btn-icon-split btn-sm" (click)="initAddEditRoom(item.roomId)">
                <span class="icon text-white-50">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="text">Cập nhật chi tiết</span>
              </a>
            </td>
            <td>
              <a class="btn btn-danger btn-icon-split btn-sm" (click)="deleteRoom(item.roomId, errorTemplate)">
                <span class="icon text-white-50">
                  <i class="fas fa-trash-alt"></i>
                </span>
                <span class="text">Xóa</span>
              </a>
              <ng-template #errorTemplate>
                <div class="modal-body alert-danger text-center">
                  Phòng này đã được sử dụng nên không thể xóa
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-body" *ngIf="isAddEditForm">
    <form class="user" #addEditForm="ngForm"
      (ngSubmit)="addEditForm.form.valid && AddEditForm(room.roomId, editTemplate, addTemplate)" novalidate>
      <hr>
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Thông tin phòng</h1>
            <input type="hidden" [(ngModel)]="room.roomId" name="productId">
          </div>
          <div class="form-group">
            <label for="code">Tên phòng</label>
            <select class="custom-select" id="isSelected" [(ngModel)]="isSelected" name="isSelected">
              <option [ngValue]="item.toString()" *ngFor="let item of listRoomName">
                {{item.toString()}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="code">Phòng số</label>
            <input type="text" class="form-control form-control-user" placeholder="Số phòng" [(ngModel)]="room.code"
              #code="ngModel" name="code" pattern="\d*" maxlength="2" required>
            <div class="alert alert-danger" *ngIf="code.invalid && addEditForm.submitted">
              Số phòng không hợp lệ
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-user btn-block">{{btnName}}</button>
          <ng-template #editTemplate>
            <div class="modal-body alert-success text-center">
              Cập nhật thành công
            </div>
          </ng-template>
          <ng-template #addTemplate>
            <div class="modal-body alert-success text-center">
              Thêm thành công
            </div>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
